body{
	background-color: #292929;
}
.header-top-div{
	background-color: #191919;
	height: 170px;
	margin-left: -10px;
	margin-right: -8px;
}
.header-top{
	margin-top: -70px;
	width: 100%;
}
.header1{
	margin-left: 20px;
	font-size: 40px;
	font-family: Arial Black;
	color: #7CFC00;
}
.undermenu{
	display: inline;
	font-size: 30px;
	font-family: Arial;
	margin-left: 150px;
	color: #ADFF2F;
}
.undermenu:hover{
	background-color: #ADFF2F;
	color: #191919;
}
.undermenu a{
	color: #ADFF2F;
	text-decoration: none;
}
.undermenu a:hover{
	background-color: #ADFF2F;
	color: #191919;
}
.News-h1{
	color: #7CFC00;
	font-size: 60px;
	font-family: Arial Black;
	margin-left: 10px;
	margin-top: -5px;
}
.News-discription{
	width: 620px;
	margin-left:10px;
	margin-top: -20px;
	font-size: 22px;
	font-family: Impact;
}
.likes-and-coments{
	margin-left: 45%;
	margin-top: -50px;
}
.likes-and-coments li{
	display: inline;
	margin-left: 100px;
}
#likes-and-coments:hover{
	color: #7CFC00;
}
.UnderAboutUs{
	list-style: none;
	position: absolute;
	display: none;
	margin-left: 400px;
	margin-top: 100px;
}
#AboutUs:hover .UnderAboutUs{
	display: block;
}