/*Menu and News page start*/
body{
	background-color: #292929;
}
.header-top-div{
	background-color: #191919;
	height: 170px;
	margin-left: -10px;
	margin-right: -8px;
}
.header-top{
	margin-top: -70px;
	width: 100%;
}
.header1{
	margin-left: 20px;
	font-size: 40px;
	font-family: Arial Black, Impact;
	color: #7CFC00;
}
.undermenu{
	display: inline;
	font-size: 40px;
	font-family: Monotype Corsiva;
	margin-left: 150px;
	color: #ADFF2F;
}
.undermenu:hover{
	background-color: #ADFF2F;
	color: #191919;
}
.undermenu a{
	color: #ADFF2F;
	text-decoration: none;
}
.undermenu a:hover{
	background-color: #ADFF2F;
	color: #191919;
}
.News-h1{
	color: #7CFC00;
	font-size: 60px;
	font-family: Arial Black;
	margin-left: 10px;
	margin-top: -5px;
}
.News-discription{
	margin-left:20px;
	margin-right: 20px;
	width: 620px;
	margin-top: 0px;
	font-size: 21px;
	font-family: Inconsolata;
	color: #eeeeee;
}
.likes-and-coments{
	margin-left: 45%;
	margin-top: 0px;
}
.likes-and-coments li{
	display: inline;
	margin-left: 100px;
}
#likes-and-coments:hover{
	color: #7CFC00;
}
.UnderAboutUs {
	list-style: none;
	position: absolute;
	display: none;
	margin-left: 850px;
}
.UnderAboutUsLi a{
	color: #ADFF2F;
	font-family: Monotype Corsiva;
	font-size: 40px;
	text-decoration: none;
}
#AboutUs:hover .UnderAboutUs{
	display: block;
}
.UnderAboutUs a:hover{
	background-color: #ADFF2F;
	color: #191919;
}
.footer{
	font-family: Monotype Corsiva;
	font-size: 25px;
}
.NewsHeader a{
	text-decoration: none;
}
h2{
	color: #7CFC00;
	font-size: 50px;
	font-family: Impact;
}
.another_username{
	font-family: Arial Black, Impact;
	font-size: 30px;
	margin-left: 10px;
	color: aliceblue;
}
.another_user_title{
	font-size: 35px;
	font-family: "Bookman Old Style";
	margin-left: 40px;
}
.another_user_discription{
	margin-right: 10px;
	margin-left: 30px;
	font-family: "Comic Sans MS";
	font-size: 25px;
}
.NewsHeader a:hover{
	color: white;
}
/*Menu and News page finish*/

/*Home page start*/
.first-title{
	color: #7CFC00;
	font-family: "Arial Narrow";
	font-size: 50px;
}
.home-block-text{
	color: white;
	font-family: "Comic Sans MS";
	font-size: 30px;
	padding-left: 20px;
}